<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="about-paragraph">
      <h6>VỀ CHÚNG TÔI:</h6>
      <p>Với niềm đam mê vô tận, sự nỗ lực không ngừng cùng với nhiệt huyết tuổi trẻ chúng tôi hân hạnh mang đến cho bạn
        sự trải nghiệm tuyệt vời nhất mà bạn chưa từng được cảm nhận.<br>
        Với sức mạnh đặc biệt của mình, sứ mệnh của chúng tôi là mang đến cho khách hàng cảm nhận tốt nhất, tuyệt vời
        nhất.<br>

        Với niềm đam mê vô tận, sự nỗ lực không ngừng cùng với nhiệt huyết tuổi trẻ chúng tôi hân hạnh mang đến cho bạn
        sự trải nghiệm tuyệt vời nhất mà bạn chưa từng được cảm nhận.<br>
        Với sức mạnh đặc biệt của mình, sứ mệnh của chúng tôi là mang đến cho khách hàng cảm nhận tốt nhất, tuyệt vời
        nhất.<br>

        Với niềm đam mê vô tận, sự nỗ lực không ngừng cùng với nhiệt huyết tuổi trẻ chúng tôi hân hạnh mang đến cho bạn
        sự trải nghiệm tuyệt vời nhất mà bạn chưa từng được cảm nhận.<br>
        Với sức mạnh đặc biệt của mình, sứ mệnh của chúng tôi là mang đến cho khách hàng cảm nhận tốt nhất, tuyệt vời
        nhất.<br><br>

        Điều quan trọng phải được nhắc lại 3 lần.<br><br>

        Cảm ơn bạn dã luôn đồng hành cùng chúng tôi.<br>

        Peace and Happy !</p>
    </div>
    <div class="col-md-5">
      <p>Dành cho những bạn mù đường thì bản đồ đây nhé !</p>
      <img src="public/img/map.png"
        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
        alt="Map to Store">
    </div>
  </div>
</div>