<!doctype html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
    </style>
</head>

<body>
    <div class="container-fluid ">
        <div style="margin-top: 30px;margin-bottom: 0px ;margin-left: 0px;font-size: 18px  ;font-family: Roboto Mono">
            <p1 class="p1">BỘ SƯU TẬP
            </p1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="columnT">
                <div style="margin-top: 0px;">
                    <img src="../public/img/sneaker/sneak.jpg" alt="Snow" style="width:100%">
                </div>
                <div style="margin-top: 20px;">
                    <p align="center">Special prize (25)
                    </p>
                </div>

            </div>
            <div class="columnT">
                <div style="margin-top: 0px;">
                    <img src="../public/img/sneaker/2.jpg" alt="Mountains" style="width:100%">
                </div>
                <div style="margin-top: 20px;">
                    <p align="center">Top Trending (17)
                    </p>
                </div>
            </div>
            <div class="columnT">
                <div>
                    <img src="../public/img/sneaker/sneak.jpg" alt="Mountains" style="width:100%">
                </div>
                <div style="margin-top: 20px;">
                    <p align="center">Latest (15)
                    </p>
                </div>

            </div>
            <div class="columnT">
                <div style="margin-top: 0px;">
                    <img src="../public/img/sneaker/2.jpg" alt="Mountains" style="width:100%">
                </div>
                <div style="margin-top: 20px;">
                    <p align="center ">Độc lạ (28)
                    </p>
                </div>

            </div>
        </div>

        <div class="row" style="margin-left: 100px;margin-top: 20px">
            <div class="columnS">
                <i class="fas fa-shipping-fast" style="font-size:18px">&nbspGIAO HÀNG TOÀN QUỐC</i>
            </div>
            <div class="columnS ">
                <i class="fa fa-users" style="font-size:18px">&nbspTƯ VẤN NHIỆT TÌNH</i>
            </div>
            <div class="columnS ">
                <i class="fas fa-store-alt" style="font-size:18px">&nbspCÓ SẴN TẠI CỬA HÀNG</i>
            </div>

        </div>

        <div class="text-center" style="font-family: Roboto Mono, monospace;font-size:30px;margin-top: 20px;color:#BA9EDF">
            <p>SPECIAL PRIZES</p>
        </div>

        <div class="dropdown" style="margin-left: 865px;">
            <button class="btn " type="button" data-toggle="dropdown">SẮP XẾP THEO: 
                        <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">GIÁ TỪ CAO ĐẾN THẤP</a></li>
                <li><a href="#">GIÁ TỪ TẤP ĐẾN CAO</a></li>
                <li><a href="#">SỐ LƯỢNG</a></li>
            </ul>
        </div>

        <div class="row product ">
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap ">
                        <img src="https://s9.postimg.org/tupxkvfj3/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">Good item name</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$1280</span>
                                <del class="price-old ">$1980</del>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "> <img src="https://s9.postimg.org/4ooze1tof/image.jpg " <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">The name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "><img src="https://s9.postimg.org/ojb106167/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">Name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "> <img src="https://s9.postimg.org/4ooze1tof/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">The name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
        </div>
        <!-- row.// -->

        <div class="row product ">
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap ">
                        <img src="https://s9.postimg.org/tupxkvfj3/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">Good item name</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$1280</span>
                                <del class="price-old ">$1980</del>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "> <img src="https://s9.postimg.org/4ooze1tof/image.jpg " <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">The name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "><img src="https://s9.postimg.org/ojb106167/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">Name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "> <img src="https://s9.postimg.org/4ooze1tof/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">The name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
        </div>
        <!-- row.// -->

        <div class="row product ">
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap ">
                        <img src="https://s9.postimg.org/tupxkvfj3/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">Good item name</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$1280</span>
                                <del class="price-old ">$1980</del>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "> <img src="https://s9.postimg.org/4ooze1tof/image.jpg " <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">The name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "><img src="https://s9.postimg.org/ojb106167/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">Name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
            <div class="col-md-3 ">
                <figure class="card card-product ">
                    <div class="img-wrap "> <img src="https://s9.postimg.org/4ooze1tof/image.jpg ">
                        <a class="btn-overlay " href="# "><i class="fa fa-search-plus "></i> Quick view</a>
                    </div>
                    <figcaption class="info-wrap ">
                        <h6 class="title text-dots "><a href="# ">The name of product</a></h6>
                        <div class="action-wrap ">
                            <a href="# " class="btn btn-primary btn-sm float-right "> Order </a>
                            <div class="price-wrap h5 ">
                                <span class="price-new ">$280</span>
                            </div>
                            <!-- price-wrap.// -->
                        </div>
                        <!-- action-wrap -->
                    </figcaption>
                </figure>
                <!-- card // -->
            </div>
            <!-- col // -->
        </div>
        <!-- row.// -->

        





        <script language="javascript ">
            document.getElementById("search ").onclick = function() {
                document.getElementById("quicksearch-hidden ").hidden = false;
                document.getElementById("search ").hidden = true;
            };

            document.getElementById("searchClose ").onclick = function() {
                document.getElementById("quicksearch-hidden ").hidden = true;
                document.getElementById("search ").hidden = false;
            };
        </script>
        <script>
            $(".noti-badge ").prepend($(".noti a ").length)
        </script>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>