<link rel="stylesheet" href="../../public/css/sale.css">
<div class="container-fluid">
  <div class="row" id="banner">
    <img src="/public/img/Screen Shot 2019-12-12 at 18.55.13.png"
      class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
  </div>
  <h3>SALES CẢ NGÀY, MUA LIỀN TAY</h3>
  <div class="row" id="feature">
    <i class="fas fa-truck    "></i>
    <p>GIAO HÀNG TOÀN QUỐC</p>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <p>TƯ VẪN NHIỆT TÌNH</p>
    <i class="fas fa-store    "></i>
    <p>CÓ SẴN TẠI CỬA HÀNG</p>
  </div>
  <h2>HOT SALES</h2>
  <div class="row" id="hot-sales">
    <div class="container">
      <div class="row">
        {{#each sneakers}}
        
        <div class="col-md-3">
          <a href="/product/{{id}}">
          <div class="card">
            <img class="card-img-top" src="/public/img/Air-Jordan-1-Retro-High-Off-White-Chicago-Product.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">{{name}}</h6>
              <div class="row" id="price">
                <h6>GIÁ:</h6>
                <p id="old-price card-text">{{price}}đ</p>
                <p id="new-price card-text">-{{price}}đ</p>
              </div>
            </div>
          </div>
          </a>
        </div>

        {{/each}}
      </div>
    </div>
  </div>
</div>