<link rel="stylesheet" href="../../public/css/search.css">
<div class=></div>
<div class="row">
  <div class="col-2 avd-search" style="background-color: gray">
    <p><b>LỌC SẢN PHẨM</b></p>
    <div class="gender">
      <p><b>Giới tính</b></p>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="avd_gender_male" value="option1"
          checked />
        <label class="form-check-label" for="avd_gender_male">
          Nam
        </label>
      </div>
      <div class="form-check" onchange="genderChange(this)">
        <input class="form-check-input" type="radio" name="exampleRadios" id="avd_gender_female" value="option1"
          checked />
        <label class="form-check-label" for="avd_gender_female">
          Nữ
        </label>
      </div>
      <div class="color">
        <p><b>Màu sắc</b></p>
        <div class="container">
          <div class="row">
            <div class="color-square" style="background-color: black" id="black" onclick="colorChange(this.id)">
            </div>
            <div class="color-square" style="background-color: white" id="white" onclick="colorChange(this.id)"></div>
            <div class="color-square" style="background-color: red" id="red" onclick="colorChange(this.id)"></div>
            <div class="color-square" style="background-color: yellow" id="yellow" onclick="colorChange(this.id)"></div>
            <div class="color-square" style="background-color: orange" id="orange" onclick="colorChange(this.id)"></div>
            <div class="color-square" style="background-color: blue" id="blue" onclick="colorChange(this.id)"></div>
            <div class="color-square" style="background-color: green" id="green"></div>
          </div>
        </div>
      </div>
      <div class="size">
        <p><b>Size</b></p>
        <div class="form-group">
          <select class="form-control" id="size-option" onchange="sizeChange(this)">
            <option>36</option>
            <option>37</option>
            <option>38</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
          </select>
        </div>
      </div>
      <div class="brand">
        <p><b>Brand</b></p>
        <div class="form-group">
          <select class="form-control" id="brand-option" onchange="brandChange(this)">
            <option>Adidas</option>
            <option>Nike</option>
            <option>Converse</option>
            <option>New Balance</option>
            <option>Vans</option>
            <option>Balenciaga</option>
            <option>Gucci</option>
            <option>Reebok</option>
            <option>Khác</option>
          </select>
        </div>
      </div>
      <div class="price">
        <p><b>Mức giá</b></p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="price1" value="option1" checked />
          <label class="form-check-label" for="price1">
            Dưới 500.000 VNĐ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="price2" value="option1" checked />
          <label class="form-check-label" for="price2">
            500.000 VND - 2.000.000 VNĐ
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="price3" value="option1" checked />
          <label class="form-check-label" for="price3">
            Trên 2.000.000 VNĐ
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10 res-search">
    <div class="res-title">
      <h5><b>KẾT QUẢ TÌM KIẾM CHO: </b></h5>
    </div>
    <div class="res-num">
      <p><i>Đang hiển thị tất cả kết quả</i></p>
    </div>
    <div class="res-sort">
      <div class="form-group">
        <label for="sort">Hiển thị kết quả theo: </label>
        <select class="form-control" id="sort">
          <option>Mới nhất</option>
          <option>Giá cao nhất</option>
          <option>Giá thấp nhất</option>
          <option>Nhiều lượt xem nhất</option>
          <option>Đánh giá cao nhất</option>
        </select>
      </div>
    </div>
    <div class="res-product">
      <div class="container">
        <div class="row">
          {{#each sneaker}}
          <div class="col-lg-3 col-md-4 item">
            <a href="/product/{{id}}">
              <div class="itemImg" style="background-image: url(../public/img/sneaker/2.jpg);"></div>
            </a>
            
            <div class="itemName" id="itemName">
              {{name}}
            </div>
            <div class="itemPrice">
              {{price}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</div>

<script language="javascript">

  window.onload = function () {
    if (GetURLParameter("brand") != null)
      document.getElementById("brand-option").value = GetURLParameter("brand");
    if (GetURLParameter("size") != null)
      document.getElementById("size-option").value = GetURLParameter("size");
    //console.log(GetURLParameter(brand));
  };

  function brandChange(brand) {
    let color = "";
    if (GetURLParameter("color") != null)
      color = GetURLParameter("color");
    let size = "";
    if (GetURLParameter("size") != null)
      size = GetURLParameter("size");

    let url = '/search?brand=' + brand.value + '&color=' + color + '&size=' + size;
    location.href = url;

  }

  function colorChange(color) {
    console.log("aaa");
    let brand = "";
    if (GetURLParameter("brand") != null)
      brand = GetURLParameter("brand");
    let size = "";
    if (GetURLParameter("size") != null)
      size = GetURLParameter("size");
    let url = '/search?brand=' + brand + '&color=' + color + '&size=' + size;
    location.href = url;
  }

  function sizeChange(size) {
    let brand = "";
    if (GetURLParameter("brand") != null)
      brand = GetURLParameter("brand");
    let color = "";
    if (GetURLParameter("color") != null)
      color = GetURLParameter("color");
    let url = '/search?brand=' + brand + '&color=' + color + '&size=' + size.value;
    console.log(url);
    location.href = url;
  }
  function GetURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
      var sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] == sParam) {
        return sParameterName[1];
      }
    }
  }
</script>